{% extends 'base.html.twig' %}

{% block body %}
    <h1>Civil</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ civil.id }}</td>
            </tr>
            <tr>
                <th>Numar</th>
                <td>{{ civil.numar }}</td>
            </tr>
            <tr>
                <th>Nume</th>
                <td>{{ civil.nume }}</td>
            </tr>
            <tr>
                <th>Descriere</th>
                <td>{{ civil.descriere }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{% if civil.data %}{{ civil.data|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Upload</th>
                <a href="{{ asset('uploads/upload'~ civil.pdfFilename) }}">View brochure (PDF)</a>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('civil_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('civil_edit', { 'id': civil.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
